
        .circle{
            display:block;
            left:100px;
            width:30px;
            height:10px;
            margin: 0px;
            padding: 0px;
            border-radius:50px;
            background-color:#5CB85C;
            box-shadow: none;
        }
        .circle2{
            display:block;
            left:100px;
            width:30px;
            height:10px;
            border-radius:50px;
            background-color:#E3333A;
            box-shadow: none;
        }