.collapsedRight {
    display: none; /* hide it for small displays */
}
@media (min-width: 992px) {
    .collapsedRight {
        display: block;
        margin-right: -50%;
    }
}

.collapsedLeft {
    display: none; /* hide it for small displays */
}
@media (min-width: 992px) {
    .collapsedLeft {
        display: block;
        margin-left: -50%;
    }
}

#row-main {
    overflow-x: hidden; /*necessary to hide collapsed sidebar*/
}
#content {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
#sidebar {
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.switch-version {
    position: fixed;
    top: 160px;
    right: 0;
    width: 40px;
    background: #fff;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    z-index: 1000;
}