*{
   padding:0px;
   margin:0px;  
}

.cabe{
    position:absolute;
    width:100%;
    height:50px;
    background-color:#8085A1;
    margin:0;
    padding:0;
}
  .logo{
        position:absolute;
        top:70px;
        left:30px;

   }

.buttoncabe{
    position:absolute;
    background-color: #8085A1;
    width:50px;
    height:34px;
    margin:8px;
    border:0px;
    left:0px;
}

 .buttoncabe :hover {
    background-color:white;
    margin:0px;
    padding:0px;
    border-radius:5px; 
        } 
.buttoncabe1{
    position:absolute;
    background-color: #8085A1;
    width:50px;
    height:34px;
    margin:8px;
    border:0px;
    left:100px;
}

 .buttoncabe1 :hover {
    background-color:white;
    margin:0px;
    padding:0px;
    border-radius:5px; 
        } 

.buttoncabe2{
    position:absolute;
    background-color: #8085A1;
    width:50px;
    height:34px;
    margin:8px;
    border:0px;
    left:300px;
   
   

}
 .buttoncabe2 :hover {
    background-color:white;
    margin:0px;
    padding:0px;
    border-radius:5px; 
    
    
        } 
.buttoncabe3{
    position:absolute;
    background-color: #8085A1;
    width:50px;
    height:34px;
    margin:8px;
    border:0px;
    left:93%;
   
   

}
 .buttoncabe3 :hover {
    background-color:white;
    margin:0px;
    padding:0px; 
    border-radius:5px 5px 5px 5px; 
    
   
    
    
        } 
.barra{
         position:absolute;
         top:200px;
         height:50px;
         width:100%;
         background: -webkit-linear-gradient(#8085A1, grey);
         background: -moz-linear-gradient(#8085A1, grey);
         background: -o-linear-gradient(#8085A1, grey);
         background: linear-gradient(#8085A1,grey);
                }
        .text1{
            position:relative;
            color:white;
            text-align:center;
            font-family:arial;
            font-size:25px; 
            top:8px;
        }
   .sub{
       position:absolute;
       top:50px;
       width:100%;
       height:150px;
      
   }

   .logo{
        position:absolute;
        top:15px;
        left:30px;

   }


   .form{
       position:relative;
       top:300px;
       left:210px;
       height:380px;
       width:930px;
       background-color:#ececec;
       border-radius:5px 5px 5px 5px;
   }
   form{
       height: 380px;
   }
   label{
       font-family: arial;
       font-size:20px;
       margin:5px;
       
   }

   input{
        border:1px solid grey;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 5px 5px 5px 5px;

   }
    input[type=text]:hover{
         background: -webkit-linear-gradient(#FAFFFD,#D9D9D7);
         background: -moz-linear-gradient( #FAFFFD,#D9D9D7);
         background: -o-linear-gradient( #FAFFFD,#D9D9D7);
         background: linear-gradient(#FAFFFD,#D9D9D7);
    }
 
   .empre{
       width:500px;
       height:30px;
       
   }
    
   .tel{
       width:150px;
       height:30px;
       left:185px;
       top:90px;
      
   }
       .cont{
       width:200px;
       height:30px;
       left:185px;
       top:90px;
      
   }
    select{
       width:200px;
       height:30px;
       margin:15px;
       border:1px solid grey;
       box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
       border-radius: 5px 5px 5px 5px;
    }
    select:hover{
      background: -webkit-linear-gradient(#FAFFFD,#D9D9D7);
      background: -moz-linear-gradient( #FAFFFD,#D9D9D7);
      background: -o-linear-gradient( #FAFFFD,#D9D9D7);
      background: linear-gradient(#FAFFFD,#D9D9D7);
    }   



        textarea{ 
        position: absolute;
        top:165px;
        left:220px; 
        width:700px;
        height:50px;
        margin:15px;
        border:1px solid grey;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 5px 5px 5px 5px;


        }
        textarea:hover{
        
               background: -webkit-linear-gradient(#FAFFFD,#D9D9D7);
               background: -moz-linear-gradient( #FAFFFD,#D9D9D7);
               background: -o-linear-gradient( #FAFFFD,#D9D9D7);
               background: linear-gradient(#FAFFFD,#D9D9D7);
        
        
                }
         input[type=submit] {
            position: absolute;
            top:300px;
            left:480px;
            width:30%;
            text-align: center;
            background-color:gray;
            color:white;
            padding:14px 20px;
            margin:8px 0;
            border:none;
            border-radius:4px;
            cursor:pointer;
            }
         input[type=submit]:hover {
             background-color: #6CCF54;
             } 

    .categoria{
            width:192px;
        }
  .solucao{ 
        position: absolute;
        top:0px;
        left:80px; 
        width:828px;
        height:50px;
        margin:5px;
        border:1px solid grey;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 5px 5px 5px 5px;


        }

    .solu{
         position: absolute;
        top:220px;
        left:0px;
        width:100px;

    }
    .cancel{
         position: absolute;
            top:300px;
            left:180px;
            width:30%;
            text-align: center;
            background-color:gray;
            color:white;
            padding:14px 20px;
            margin:8px 0;
            border:none;
            border-radius:4px;
            cursor:pointer;

    }
    .cancel:hover{
           background-color: #E3333A;
    }