######################
## Handling Options for the CORS
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [L,R=204]

###################
## Add custom headers

Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"
    # Always set these headers for CORS.
Header always set Access-Control-Max-Age 1728000
Header always set Access-Control-Allow-Origin: "*"
Header always set Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
Header always set Access-Control-Allow-Headers: "DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,C$
Header always set Access-Control-Allow-Credentials true
#redirecionamento de erros
ErrorDocument 404 /pages/error/404.html
ErrorDocument 400 /pages/error/400.html
ErrorDocument 401 /pages/error/403.html
ErrorDocument 403 /pages/error/403.html
ErrorDocument 500 /pages/error/404.html
#rotas
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^/?$ index.html [NC,L]
  RewriteRule ^include/?$ pages/home.php [NC,L]
  RewriteRule ^assets/?$ pages/home.php [NC,L]
  RewriteRule ^consultaTabelas/?$ pages/home.php [NC,L]
  RewriteRule ^css/?$ pages/home.php [NC,L]
  RewriteRule ^datatables/?$ pages/home.php [NC,L]
  RewriteRule ^deletes/?$ pages/home.php [NC,L]
  RewriteRule ^filtros/?$ pages/home.php [NC,L]
  RewriteRule ^fonts/?$ pages/home.php [NC,L]
  RewriteRule ^imagem/?$ pages/home.php [NC,L]
  RewriteRule ^include/?$ pages/home.php [NC,L]
  RewriteRule ^inserts/?$ pages/home.php [NC,L]
  RewriteRule ^js/?$ pages/home.php [NC,L]
  RewriteRule ^logs/?$ pages/home.php [NC,L]
  RewriteRule ^modals/?$ pages/home.php [NC,L]
  RewriteRule ^pages/?$ pages/home.php [NC,L]
  RewriteRule ^tmp/?$ pages/home.php [NC,L]
  RewriteRule ^updates/?$ pages/home.php [NC,L]
  RewriteRule ^utilsPHP/?$ pages/home.php [NC,L]
  RewriteRule ^validacoes/?$ pages/home.php [NC,L]
  RewriteRule ^vendor/?$ pages/home.php [NC,L]
  RewriteRule ^pages/home/?$ pages/home.php [NC,L]
  RewriteRule ^pages/chamados/?$ pages/chamados.php [NC,L]
  RewriteRule ^pages/dashboard/?$ pages/dashBoard.php [NC,L]
  RewriteRule ^pages/plantao/?$ pages/plantao.php [NC,L]
  RewriteRule ^pages/empresa/?$ pages/empresa.php [NC,L]
  RewriteRule ^pages/meuschamados/?$ pages/meuschamados.php [NC,L]
  RewriteRule ^pages/chamadoespera/?$ pages/chamadoespera.php [NC,L]
  RewriteRule ^pages/cad_chamado/?$ pages/cad_chamado.php [NC,L]
  RewriteRule ^pages/relatorio/?$ pages/relatorio.php [NC,L]
  RewriteRule ^pages/relatorioempre/?$ pages/relatorioempre.php [NC,L]
  RewriteRule ^pages/dadosempresasapi/?$ pages/dadosempresasapi.php [NC,L]
  RewriteRule ^pages/cad_usuario/?$ pages/cad_usuario.php [NC,L]
  RewriteRule ^pages/cad_empresa/?$ pages/cad_empresa.php [NC,L]
  RewriteRule ^pages/alterasenha/?$ pages/alterasenha.php [NC,L]
  RewriteRule ^pages/empresasinertes/?$ pages/empresasinertes.php [NC,L]
  RewriteRule ^utilsPHP/logout/?$ utilsPHP/logout.php [NC,L]
  RewriteRule ^pages/abrechamado=([0-9]+)?$ pages/abrechamado.php?id_chamado=$1 [NC,L]
  RewriteRule ^pages/abrechamadoFa=([0-9]+)?$ pages/abrechamadoFa.php?id_chamado=$1 [NC,L]
  RewriteRule ^pages/editachamado=([0-9]+)?$ pages/editachamado.php?id_chamado=$1 [NC,L]
  RewriteRule ^pages/abrechamadoespera=([0-9]+)?$ pages/abrechamadoespera.php?id_chamadoespera=$1 [NC,L]
  RewriteRule ^pages/editausuario=([0-9]+)?$ pages/editausuario.php?id=$1 [NC,L]
  RewriteRule ^pages/editaempresa=([0-9]+)?$ pages/editaempresa.php?id_empresa=$1 [NC,L]
  RewriteRule ^pages/dashexception/?$ pages/dashException.php [NC,L]
</IfModule>