.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.avatar .avatar-status {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50em;
}

.avatar > img {
  vertical-align: initial;
}

.img-avatar, .avatar.nav-link > img {
  height: 35px;
  margin: 0 0px;
}

.img-avatar, .avatar > img,
.img-circle {
  max-width: 100%;
  height: auto;
  border-radius: 50em;
}

.avatar-sm .avatar-status {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 50em;
}

.avatar-xs .avatar-status {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 50em;
}

.avatar-lg .avatar-status {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50em;
}

.app-header .nav-item .nav-link > .img-avatar, .app-header .nav-item .avatar.nav-link > img {
  height: 35px;
  margin: 0 10px;
}

.tableHead{
  background-color:#222; 
  color:white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.feedback {
  background-color : #101010;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #4e4d4d;
  z-index: 1040;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  left: 10px;
}
.background-info{
  background-color: #36b9cc;
}

@media screen and (max-width: 600px) {
  div.example {
    display: none;
  }
}